.main-card {
  font-family: "Sansation", sans-serif;
  display: flex;
  justify-content: center;
  padding: 100px;
  gap: 200px;
  color: #482427;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(/images/fondo_landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.accordion-section {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f2f2f2;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  background-color: #e8d1bb;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.accordion-icon {
  transition: transform 0.3s ease;
}

.accordion-content {
  display: none;
  padding: 12px;
}

.accordion-section.active .accordion-content {
  display: block;
}

.accordion-section.active .accordion-icon {
  transform: rotate(180deg);
}

p {
  padding: 10px;
}

.info-card {
  padding-top: 20px;
}

input,
input::placeholder,
textarea {
  padding: 10px;
  margin: 10px 0 10px 10px;
  border-radius: 5px;
  background-color: #9b8385;
  border: none;
  color: white;
}

select {
  padding: 10px;
  margin: 10px 0 10px 10px;
  background-color: #9b8385;
  border: none;
  border-radius: 5px;
  color: white;
}

button {
  border-radius: 5px;
  border: none;
  background-color: #482427;
  color: white;
  margin-bottom: 30px;
  padding: 10px 30px;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
}

.reset-btn {
  padding: 10px 30px;
  margin-top: 20px;
}

.preview-card {
  background: url(/images/cumple.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  width: 800px;
  height: 500px;
  padding: 40px 0 0 40px;
}

.card-content {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  font-size: 20px;
  gap: 25px;
}

.card-text {
  width: 250px;
}

.birthday {
  background: url(/images/cumple.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.christmas {
  background: url(/images/navidad.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.valentine {
  background: url(/images/valentin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.image-value {
  width: 230px;
  height: 230px;
}

@media screen and (max-width: 1024px) {
  .main-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .preview-card {
    width: 571px;
    height: 357px;
    padding: 5px;
  }

  .card-content {
    margin: 10px;
  }

  .card-text {
    font-size: 15px;
    width: 170px;
  }

  .image-value {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 736px) {
  .main-card {
    padding: 20px;
  }
  .preview-card {
    width: 316px;
    height: 197px;
  }

  .message-input, .image-input {
    width: 300px;
  }

  .image-value {
    height: 75px;
    width: 75px;
  }

  .date-value, .email-value {
    font-size: 8px;
  }

  .card-text {
    font-size: 10px;
  }

  .card-content {
    width: 200px;
  }

  p {
    padding: 5px;
  }

  .create-card-btn, .reset-btn {
    font-size: 12px;
  }

}
