.main-card {
  font-family: "Sansation", sans-serif;
  display: flex;
  justify-content: center;
  padding: 100px;
  gap: 200px;
  color: #482427;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(/images/fondo_landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.accordion-section {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  background-color: transparent;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  background-color: #f0f0f0;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.accordion-icon {
  transition: transform 0.3s ease;
}

.accordion-content {
  display: none;
  padding: 12px;
}

.accordion-section.active .accordion-content {
  display: block;
}

.accordion-section.active .accordion-icon {
  transform: rotate(180deg);
}

p {
  padding: 10px;
}

.info-card {
  padding-top: 20px;
}

input,
input::placeholder {
  padding: 10px;
  margin: 10px 0 10px 10px;
  border-radius: 5px;
  background-color: #9b8385;
  border: none;
  color: white;
}

select {
  padding: 10px;
  margin: 10px 0 10px 10px;
  background-color: #9b8385;
  border: none;
  border-radius: 5px;
  color: white;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #482427;
  color: white;
  margin-bottom: 30px;
}

.preview-card {
  background: url(/images/cumple.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Imperial Script", cursive;
  font-size: 12px;
  font-weight: bold;
  width: 800px;
  height: 500px;
  padding: 40px 0 0 40px;
}

.card-content {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  font-size: 30px;
  gap: 70px;
}

.birthday {
  background: url(/images/cumple.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.christmas {
  background: url(/images/navidad.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.valentine {
  background: url(/images/valentin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.image-value {
  width: 230px;
  height: 230px;
}

.create-card-btn {
  padding: 10px 50px;
  letter-spacing: 2px;
  color: white;
}