.main-card {
  font-family: "Sansation", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin-top: 100px;
  gap: 200px;
  color: #482427;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(/images/fondo_landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  padding: 10px;
}

.info-card {
  padding-top: 20px;
}

input,
input::placeholder {
  padding: 10px;
  margin: 10px 0 10px 10px;
  border-radius: 5px;
  background-color: #9b8385;
  border: none;
  color: white;
}

select {
  padding: 10px;
  margin: 10px 0 10px 10px;
  background-color: #9b8385;
  border: none;
  border-radius: 5px;
  color: white;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #482427;
  color: white;
}

.preview-card {
  background: url(/images/cumple.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Imperial Script", cursive;
  font-size: 12px;
  font-weight: bold;
  width: 800px;
  height: 500px;
  padding: 40px 0 0 40px;
  margin-top: 30px;
}

.card-content {
  margin-top: 70px;
  font-size: 30px;
}

.birthday {
  background: url(/images/cumple.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.christmas {
  background: url(/images/navidad.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.valentine {
  background: url(/images/valentin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
